:root {
  --brandBlue: #0346d2;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    url("fonts/montserrat-v15-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("fonts/montserrat-v15-latin-500.woff2") format("woff2"),
    url("fonts/montserrat-v15-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("fonts/montserrat-v15-latin-900.woff2") format("woff2"),
    url("fonts/montserrat-v15-latin-900.woff") format("woff");
}

body {
  font-family: "Montserrat", sans-serif;
  color: #202124;
}

.header-bg {
  background: #0575e6;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
}

.np {
  padding: 0 !important;
}

.device-info {
  padding: 20px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  margin: 0;
  font-size: 1.4rem;
}

.device-info__details {
  margin: 20px;
}

.table-heading {
  font-size: 1.4rem;
  font-weight: 500;
}

footer {
  padding: 10px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #0575e6;
  color: #fff;
  background: -webkit-linear-gradient(to right, #021b79, #0575e6);
  background: linear-gradient(to right, #021b79, #0575e6);
  text-align: center;
}
footer a {
  color: #fff;
}
footer p {
  margin: 0;
}